
.header{
        grid-area: header;
}
.nav{
        grid-area: nav;
}
.main{
        grid-area: main;
}

.grid{
      display: grid;
      grid-template-columns: 10% auto;  
      grid-template-areas:
                          'header header'
                          'nav main'
}

.box{
        color:white;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        width: 250px;
        background-color: #80b3ff;
    
}
.box section h2{
        color:#6e0005;
        margin: 0;
}
.box section p{
        color:#6e0005;
}
.square{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 25px;
        height: 25px;
        background-color:#ff6666;
        margin-right: 10px;
}

#grades{
        display: flex;
}

.boxVermelha{
        color:white;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        width: 250px;
        background-color: #ec1212;
}

.boxVermelha section h2{
        color:#6e0005;
        margin: 0;

}
.boxVermelha section p{
        color:#6e0005;


}
#summary{
        color: blueviolet;
        border-style: solid;
        border-width: 5px;
        border-color: blueviolet;
        padding: 10px;
        margin-top: 10px;
        margin-right: 10px;
}

.sectionUnitGrade{
        display: flex;
}