.tableSection{
    display: flex;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    
}

#infoTabela tr:nth-child(even){background-color: #f2f2f2;}

#infoTabela tr:hover {background-color: #ddd;}

#infoTabela th {
  padding:10px;
  text-align: left;
  background-color:red;
  color: white;
  
}
#infoTabela{ 
    width:50%;
}

#infoTabela td {
    padding:10px;
}